*{
    
    text-decoration: none;
    list-style: none;
    
    }
    
    
    :root{
        font-size: 62.5%;
    }
    
    
    
    .menulist{
        height: 8rem;
        width: 17rem;
        background-color: rgba(9, 9, 9, 0.868);
        font-size: 1.8rem;
        position: absolute;
        line-height: 4rem;
        text-align: center;
        left: 25.8rem;
        top: 9rem;
        
    }
    .menulist li a{
        color: white;
        position: relative;
        /* top: -3rem; */
        
    }
    
    .menulist:hover .doctor_detail{
        display: block;
    }
    
    .recep{
        top: 19rem;
    
    }